In [1]:
import pysal
import numpy as np
from pysal.spreg import ols
from pysal.spreg import ml_error
from pysal.spreg import ml_lag

C:\Users\tsk_sato\Anaconda3\lib\site-packages\pysal\__init__.py:65: VisibleDeprecationWarning: PySAL's API will be changed on 2018-12-31. The last release made with this API is version 1.14.4. A preview of the next API version is provided in the `pysal` 2.0 prelease candidate. The API changes and a guide on how to change imports is provided at https://migrating.pysal.org
  ), VisibleDeprecationWarning)

In [2]:
# データ読み込み + 加工
f = pysal.open(pysal.examples.get_path("columbus.dbf"),'r')
y = np.array(f.by_col['HOVAL'])
y.shape = (len(y),1)
X = []
X.append(f.by_col['INC'])
X.append(f.by_col['CRIME'])
X = np.array(X).T

In [3]:
f.to_df().shape

(49, 21)

In [4]:
f.to_df().head(3)

,AREA,PERIMETER,COLUMBUS_,COLUMBUS_I,POLYID,NEIG,HOVAL,INC,CRIME,OPEN,...,DISCBD,X,Y,NSA,NSB,EW,CP,THOUS,NEIGNO,geometry
0,0.309441,2.440629,2,5,1,5,80.467003,19.531,15.725980,2.850747,...,5.03,38.799999,44.070000,1.0,1.0,1.0,0.0,1000.0,1005.0,<pysal.cg.shapes.Polygon object at 0x000001E27...
1,0.259329,2.236939,3,1,2,1,44.567001,21.232,18.801754,5.296720,...,4.27,35.619999,42.380001,1.0,1.0,0.0,0.0,1000.0,1001.0,<pysal.cg.shapes.Polygon object at 0x000001E27...
2,0.192468,2.187547,4,6,3,6,26.350000,15.956,30.626781,4.534649,...,3.89,39.820000,41.180000,1.0,1.0,1.0,0.0,1000.0,1006.0,<pysal.cg.shapes.Polygon object at 0x000001E27...

In [5]:
f.to_df().describe()

,AREA,PERIMETER,COLUMBUS_,COLUMBUS_I,POLYID,NEIG,HOVAL,INC,CRIME,OPEN,PLUMB,DISCBD,X,Y,NSA,NSB,EW,CP,THOUS,NEIGNO
count,49.000000,49.000000,49.00000,49.00000,49.00000,49.00000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.0,49.00000
mean,0.186489,1.888660,26.00000,25.00000,25.00000,25.00000,38.436224,14.374939,35.128824,2.770938,2.363944,2.852041,39.464286,32.372653,0.489796,0.510204,0.591837,0.489796,1000.0,1025.00000
std,0.132250,0.740275,14.28869,14.28869,14.28869,14.28869,18.466069,5.703378,16.732092,4.668078,3.890095,1.443465,6.437989,4.865425,0.505076,0.505076,0.496587,0.505076,0.0,14.28869
min,0.034377,0.902125,2.00000,1.00000,1.00000,1.00000,17.900000,4.477000,0.178269,0.000000,0.132743,0.370000,24.250000,24.959999,0.000000,0.000000,0.000000,0.000000,1000.0,1001.00000
25%,0.093154,1.402252,14.00000,13.00000,13.00000,13.00000,25.700001,9.963000,20.048504,0.259826,0.332349,1.700000,36.150002,28.260000,0.000000,0.000000,0.000000,0.000000,1000.0,1013.00000
50%,0.174773,1.841029,26.00000,25.00000,25.00000,25.00000,33.500000,13.380000,34.000835,1.006118,1.023891,2.670000,39.610001,31.910000,0.000000,1.000000,1.000000,0.000000,1000.0,1025.00000
75%,0.246689,2.199169,38.00000,37.00000,37.00000,37.00000,43.299999,18.323999,48.585487,3.936443,2.534275,3.890000,43.439999,35.919998,1.000000,1.000000,1.000000,1.000000,1000.0,1037.00000
max,0.699258,5.077490,50.00000,49.00000,49.00000,49.00000,96.400002,31.070000,68.892044,24.998068,18.811075,5.570000,51.240002,44.070000,1.000000,1.000000,1.000000,1.000000,1000.0,1049.00000

In [6]:
# OLS 回帰
ls = ols.OLS(y, X, name_y = 'home val', name_x = ['Income', 'Crime'], name_ds = 'Columbus')
print(ls.summary)

REGRESSION
----------
SUMMARY OF OUTPUT: ORDINARY LEAST SQUARES
-----------------------------------------
Data set            :    Columbus
Weights matrix      :        None
Dependent Variable  :    home val                Number of Observations:          49
Mean dependent var  :     38.4362                Number of Variables   :           3
S.D. dependent var  :     18.4661                Degrees of Freedom    :          46
R-squared           :      0.3495
Adjusted R-squared  :      0.3212
Sum squared residual:   10647.015                F-statistic           :     12.3582
Sigma-square        :     231.457                Prob(F-statistic)     :   5.064e-05
S.E. of regression  :      15.214                Log likelihood        :    -201.368
Sigma-square ML     :     217.286                Akaike info criterion :     408.735
S.E of regression ML:     14.7406                Schwarz criterion     :     414.411

------------------------------------------------------------------------------------
            Variable     Coefficient       Std.Error     t-Statistic     Probability
------------------------------------------------------------------------------------
            CONSTANT      46.4281827      13.1917570       3.5194844       0.0009867
              Income       0.6289840       0.5359104       1.1736736       0.2465669
               Crime      -0.4848885       0.1826729      -2.6544086       0.0108745
------------------------------------------------------------------------------------

REGRESSION DIAGNOSTICS
MULTICOLLINEARITY CONDITION NUMBER           12.538

TEST ON NORMALITY OF ERRORS
TEST                             DF        VALUE           PROB
Jarque-Bera                       2          39.706           0.0000

DIAGNOSTICS FOR HETEROSKEDASTICITY
RANDOM COEFFICIENTS
TEST                             DF        VALUE           PROB
Breusch-Pagan test                2           5.767           0.0559
Koenker-Bassett test              2           2.270           0.3214
================================ END OF REPORT =====================================

In [7]:
# 空間重み行列の読み込み
w = pysal.open(pysal.examples.get_path("columbus.gal")).read()

In [8]:
# Moran I 統計量（自己相関弱い-1から+1自己相関強い）
mi = pysal.Moran(ls.u, w, two_tailed=False)
print('Observed I:', mi.I, '\nExpected I:', mi.EI, '\n   p-value:', mi.p_norm)

Observed I: 0.17131015816921455
Expected I: -0.020833333333333332
   p-value: 0.01893042752120211

空間ラグモデルは次のように書ける： $y=\rho Wy+X\beta +\epsilon$.  
単なる重回帰とは異なり、右辺の重み行列$W$を$y$にかけて、空間自己回帰係数$\rho$をかけることで、空間ラグ項を表現している。

In [9]:
# 空間的自己回帰モデル（空間ラグモデル）
spat_lag = ml_lag.ML_Lag(y, X, w, 
    name_y='home value', name_x=['income','crime'], 
    name_w='columbus.gal', name_ds='columbus')
print(spat_lag.summary)

REGRESSION
----------
SUMMARY OF OUTPUT: MAXIMUM LIKELIHOOD SPATIAL LAG (METHOD = FULL)
-----------------------------------------------------------------
Data set            :    columbus
Weights matrix      :columbus.gal
Dependent Variable  :  home value                Number of Observations:          49
Mean dependent var  :     38.4362                Number of Variables   :           4
S.D. dependent var  :     18.4661                Degrees of Freedom    :          45
Pseudo R-squared    :      0.3668
Spatial Pseudo R-squared:  0.3315
Sigma-square ML     :     211.532                Log likelihood        :    -200.880
S.E of regression   :      14.544                Akaike info criterion :     409.760
                                                 Schwarz criterion     :     417.328

------------------------------------------------------------------------------------
            Variable     Coefficient       Std.Error     z-Statistic     Probability
------------------------------------------------------------------------------------
            CONSTANT      39.6683230      14.3249301       2.7691809       0.0056197
              income       0.5793246       0.5189236       1.1163967       0.2642524
               crime      -0.4635396       0.1800053      -2.5751442       0.0100198
        W_home value       0.1748474       0.1669349       1.0473987       0.2949157
------------------------------------------------------------------------------------
================================ END OF REPORT =====================================

C:\Users\tsk_sato\Anaconda3\lib\site-packages\scipy\optimize\_minimize.py:763: RuntimeWarning: Method 'bounded' does not support relative tolerance in x; defaulting to absolute tolerance.
  "defaulting to absolute tolerance.", RuntimeWarning)

In [10]:
aic = -2*(spat_lag.logll)+2*spat_lag.k
bic = -2*(spat_lag.logll)+np.log(spat_lag.n)*spat_lag.k
print(aic)
print(bic)

409.7604740012149
417.3277551936574

空間的誤差自己回帰モデルは次のように書ける：$y=X\beta+\epsilon,$ where $\epsilon=\lambda W\epsilon +\xi$.  
単なる重回帰とは異なり、誤差項$\epsilon$が重み付き行列$W$で影響を受ける。

In [11]:
# 空間的誤差自己回帰モデル
spat_err = ml_error.ML_Error(y, X, w, 
    name_y='home value', name_x=['income','crime'], 
    name_w='columbus.gal', name_ds='columbus')
print(spat_err.summary)

REGRESSION
----------
SUMMARY OF OUTPUT: MAXIMUM LIKELIHOOD SPATIAL ERROR (METHOD = FULL)
-------------------------------------------------------------------
Data set            :    columbus
Weights matrix      :columbus.gal
Dependent Variable  :  home value                Number of Observations:          49
Mean dependent var  :     38.4362                Number of Variables   :           3
S.D. dependent var  :     18.4661                Degrees of Freedom    :          46
Pseudo R-squared    :      0.3495
Sigma-square ML     :     197.314                Log likelihood        :    -199.769
S.E of regression   :      14.047                Akaike info criterion :     405.537
                                                 Schwarz criterion     :     411.213

------------------------------------------------------------------------------------
            Variable     Coefficient       Std.Error     z-Statistic     Probability
------------------------------------------------------------------------------------
            CONSTANT      47.8090724      12.3906790       3.8584707       0.0001141
              income       0.7213778       0.5029284       1.4343548       0.1514710
               crime      -0.5576102       0.1788127      -3.1184037       0.0018183
              lambda       0.3578232       0.1705868       2.0976014       0.0359404
------------------------------------------------------------------------------------
================================ END OF REPORT =====================================

In [12]:
aic = -2*(spat_err.logll)+2*spat_err.k
bic = -2*(spat_err.logll)+np.log(spat_err.n)*spat_err.k
print(aic)
print(bic)

405.53739785244625
411.2128587467781